In [1]:
import time
import pandas as pd

In [5]:
initial  =  time.time()
initial

1654176819.7279088

In [9]:
initial  =  time.time()
for i in range(30):
    print(i)
print(time.time()- initial)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
0.0029993057250976562

In [ ]:
#Python dates and times: datetime and

In [11]:
import datetime

In [18]:
x = datetime.datetime(year=2015, month=7, day=4)
x

datetime.datetime(2015, 7, 4, 0, 0)

In [19]:
x.strftime('%A')

'Saturday'

In [14]:
from dateutil import parser
date = parser.parse("4th of July, 2015")
date

datetime.datetime(2015, 7, 4, 0, 0)

In [15]:
date.strftime('%A')

'Saturday'

In [20]:
#in numpy

In [21]:
import numpy as np

In [24]:
import numpy as np
date = np.array('2015-07-04', dtype=np.datetime64)
date

array('2015-07-04', dtype='datetime64[D]')

In [25]:
date + np.arange(12)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
      dtype='datetime64[D]')

In [27]:
np.datetime64('2015-07-04')

numpy.datetime64('2015-07-04')

In [28]:
np.datetime64('2015-07-04 12:00')

numpy.datetime64('2015-07-04T12:00')

In [29]:
#in pandaas

In [30]:
import pandas as pd

In [46]:
a =pd.to_datetime('03-06-2021')
a

Timestamp('2021-03-06 00:00:00')

In [43]:

a =pd.to_datetime("4th of July, 2015")
a

Timestamp('2015-07-04 00:00:00')

In [47]:
a.strftime('%A')

'Saturday'

In [48]:
a + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17'],
              dtype='datetime64[ns]', freq=None)

In [54]:
#time indexing
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [50]:
data['2014-07-04':'2015-07-04']

2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64

In [53]:
df = pd.DataFrame(data)
df

            0
2014-07-04  0
2014-08-04  1
2015-07-04  2
2015-08-04  3

In [56]:
dates = pd.to_datetime([ '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])
dates

DatetimeIndex(['2015-07-04', '2015-07-06', '2015-07-07', '2015-07-08'], dtype='datetime64[ns]', freq=None)

In [57]:
pd.date_range('2015-07-03', '2015-07-10')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range('2015-07-03', periods=8, freq='H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [63]:
#Parsing time series information from various sources and formats
import datetime

dti = pd.to_datetime(["1/1/2018", np.datetime64("2018-01-01"), datetime.datetime(2018, 1, 1)])
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [64]:
dti[0]

Timestamp('2018-01-01 00:00:00')

In [65]:
datetime.datetime(2018, 1, 1)

datetime.datetime(2018, 1, 1, 0, 0)

In [66]:
day = pd.Timestamp("2018-01-05")

In [67]:
day.day_name()

'Friday'

In [71]:
#Add 1 day
nextday = day + pd.Timedelta("1 day")
nextday.day_name()

'Saturday'

In [72]:
import pandas as pd
from datetime import datetime
import numpy as np

range_date = pd.date_range(start ='1/1/2019', end ='1/08/2019',
												freq ='Min')
print(range_date)

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:01:00',
               '2019-01-01 00:02:00', '2019-01-01 00:03:00',
               '2019-01-01 00:04:00', '2019-01-01 00:05:00',
               '2019-01-01 00:06:00', '2019-01-01 00:07:00',
               '2019-01-01 00:08:00', '2019-01-01 00:09:00',
               ...
               '2019-01-07 23:51:00', '2019-01-07 23:52:00',
               '2019-01-07 23:53:00', '2019-01-07 23:54:00',
               '2019-01-07 23:55:00', '2019-01-07 23:56:00',
               '2019-01-07 23:57:00', '2019-01-07 23:58:00',
               '2019-01-07 23:59:00', '2019-01-08 00:00:00'],
              dtype='datetime64[ns]', length=10081, freq='T')

In [73]:
import pandas as pd
from datetime import datetime
import numpy as np

range_date = pd.date_range(start ='1/1/2019', end ='1/08/2019',
												freq ='Min')

df = pd.DataFrame(range_date, columns =['date'])
df['data'] = np.random.randint(0, 100, size =(len(range_date)))

print(df.head(10))

                 date  data
0 2019-01-01 00:00:00    10
1 2019-01-01 00:01:00     1
2 2019-01-01 00:02:00    39
3 2019-01-01 00:03:00    40
4 2019-01-01 00:04:00     6
5 2019-01-01 00:05:00    75
6 2019-01-01 00:06:00    92
7 2019-01-01 00:07:00     2
8 2019-01-01 00:08:00    22
9 2019-01-01 00:09:00    78

In [74]:
df

                     date  data
0     2019-01-01 00:00:00    10
1     2019-01-01 00:01:00     1
2     2019-01-01 00:02:00    39
3     2019-01-01 00:03:00    40
4     2019-01-01 00:04:00     6
...                   ...   ...
10076 2019-01-07 23:56:00    32
10077 2019-01-07 23:57:00    27
10078 2019-01-07 23:58:00    98
10079 2019-01-07 23:59:00    75
10080 2019-01-08 00:00:00    41

[10081 rows x 2 columns]

In [82]:
df.set_index('date')

                     data
date
2019-01-01 00:00:00    10
2019-01-01 00:01:00     1
2019-01-01 00:02:00    39
2019-01-01 00:03:00    40
2019-01-01 00:04:00     6
...                   ...
2019-01-07 23:56:00    32
2019-01-07 23:57:00    27
2019-01-07 23:58:00    98
2019-01-07 23:59:00    75
2019-01-08 00:00:00    41

[10081 rows x 1 columns]

In [87]:
import pandas as pd
from datetime import datetime
import numpy as np

range_date = pd.date_range(start ='1/1/2019', end ='1/08/2019',
												)

df = pd.DataFrame(range_date, columns =['date'])
df['data'] = np.random.randint(0, 100, size =(len(range_date)))

print(df.head(10))

        date  data
0 2019-01-01    13
1 2019-01-02    66
2 2019-01-03     9
3 2019-01-04    40
4 2019-01-05    92
5 2019-01-06    18
6 2019-01-07    96
7 2019-01-08    82

In [89]:
df['date'].

AttributeError: 'Series' object has no attribute 'day'

In [2]:
#https://www.dataquest.io/blog/tutorial-time-series-analysis-with-pandas/

In [3]:
import datetime as d
import pandas as pd

In [22]:
tody = d.datetime.today()
tody

datetime.datetime(2022, 6, 2, 21, 20, 35, 352211)

In [14]:
d.datetime.today().weekday()

3

In [17]:
d.datetime.today().month

6

In [18]:
d.datetime.today().year

2022

In [23]:
tody - d.timedelta(1)

datetime.datetime(2022, 6, 1, 21, 20, 35, 352211)

In [25]:
days = [tody - d.timedelta(i) for i in range(15)]
days

[datetime.datetime(2022, 6, 2, 21, 20, 35, 352211),
 datetime.datetime(2022, 6, 1, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 31, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 30, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 29, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 28, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 27, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 26, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 25, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 24, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 23, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 22, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 21, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 20, 21, 20, 35, 352211),
 datetime.datetime(2022, 5, 19, 21, 20, 35, 352211)]

In [73]:
df = pd.DataFrame(days)

In [74]:
df.columns = ['date']

In [75]:
df

                         date
0  2022-06-02 21:20:35.352211
1  2022-06-01 21:20:35.352211
2  2022-05-31 21:20:35.352211
3  2022-05-30 21:20:35.352211
4  2022-05-29 21:20:35.352211
5  2022-05-28 21:20:35.352211
6  2022-05-27 21:20:35.352211
7  2022-05-26 21:20:35.352211
8  2022-05-25 21:20:35.352211
9  2022-05-24 21:20:35.352211
10 2022-05-23 21:20:35.352211
11 2022-05-22 21:20:35.352211
12 2022-05-21 21:20:35.352211
13 2022-05-20 21:20:35.352211
14 2022-05-19 21:20:35.352211

In [76]:
df['date'].dt.weekday

0     3
1     2
2     1
3     0
4     6
5     5
6     4
7     3
8     2
9     1
10    0
11    6
12    5
13    4
14    3
Name: date, dtype: int64

In [77]:
df['weekdayno']= df['date'].dt.weekday

In [78]:
df

                         date  weekdayno
0  2022-06-02 21:20:35.352211          3
1  2022-06-01 21:20:35.352211          2
2  2022-05-31 21:20:35.352211          1
3  2022-05-30 21:20:35.352211          0
4  2022-05-29 21:20:35.352211          6
5  2022-05-28 21:20:35.352211          5
6  2022-05-27 21:20:35.352211          4
7  2022-05-26 21:20:35.352211          3
8  2022-05-25 21:20:35.352211          2
9  2022-05-24 21:20:35.352211          1
10 2022-05-23 21:20:35.352211          0
11 2022-05-22 21:20:35.352211          6
12 2022-05-21 21:20:35.352211          5
13 2022-05-20 21:20:35.352211          4
14 2022-05-19 21:20:35.352211          3

In [79]:
df['weekdayname']= df['date'].dt.day_name()

In [80]:
df

                         date  weekdayno weekdayname
0  2022-06-02 21:20:35.352211          3    Thursday
1  2022-06-01 21:20:35.352211          2   Wednesday
2  2022-05-31 21:20:35.352211          1     Tuesday
3  2022-05-30 21:20:35.352211          0      Monday
4  2022-05-29 21:20:35.352211          6      Sunday
5  2022-05-28 21:20:35.352211          5    Saturday
6  2022-05-27 21:20:35.352211          4      Friday
7  2022-05-26 21:20:35.352211          3    Thursday
8  2022-05-25 21:20:35.352211          2   Wednesday
9  2022-05-24 21:20:35.352211          1     Tuesday
10 2022-05-23 21:20:35.352211          0      Monday
11 2022-05-22 21:20:35.352211          6      Sunday
12 2022-05-21 21:20:35.352211          5    Saturday
13 2022-05-20 21:20:35.352211          4      Friday
14 2022-05-19 21:20:35.352211          3    Thursday

In [81]:
df['monthno']= df['date'].dt.month

In [82]:
df

                         date  weekdayno weekdayname  monthno
0  2022-06-02 21:20:35.352211          3    Thursday        6
1  2022-06-01 21:20:35.352211          2   Wednesday        6
2  2022-05-31 21:20:35.352211          1     Tuesday        5
3  2022-05-30 21:20:35.352211          0      Monday        5
4  2022-05-29 21:20:35.352211          6      Sunday        5
5  2022-05-28 21:20:35.352211          5    Saturday        5
6  2022-05-27 21:20:35.352211          4      Friday        5
7  2022-05-26 21:20:35.352211          3    Thursday        5
8  2022-05-25 21:20:35.352211          2   Wednesday        5
9  2022-05-24 21:20:35.352211          1     Tuesday        5
10 2022-05-23 21:20:35.352211          0      Monday        5
11 2022-05-22 21:20:35.352211          6      Sunday        5
12 2022-05-21 21:20:35.352211          5    Saturday        5
13 2022-05-20 21:20:35.352211          4      Friday        5
14 2022-05-19 21:20:35.352211          3    Thursday        5

In [83]:
df['year']= df['date'].dt.year

In [71]:
df

                         date  weekdayno weekdayname  monthno  year
0  2022-06-02 21:20:35.352211          3    Thursday        6  2022
1  2022-06-01 21:20:35.352211          2   Wednesday        6  2022
2  2022-05-31 21:20:35.352211          1     Tuesday        5  2022
3  2022-05-30 21:20:35.352211          0      Monday        5  2022
4  2022-05-29 21:20:35.352211          6      Sunday        5  2022
5  2022-05-28 21:20:35.352211          5    Saturday        5  2022
6  2022-05-27 21:20:35.352211          4      Friday        5  2022
7  2022-05-26 21:20:35.352211          3    Thursday        5  2022
8  2022-05-25 21:20:35.352211          2   Wednesday        5  2022
9  2022-05-24 21:20:35.352211          1     Tuesday        5  2022
10 2022-05-23 21:20:35.352211          0      Monday        5  2022
11 2022-05-22 21:20:35.352211          6      Sunday        5  2022
12 2022-05-21 21:20:35.352211          5    Saturday        5  2022
13 2022-05-20 21:20:35.352211          4      Friday        5  2022
14 2022-05-19 21:20:35.352211          3    Thursday        5  2022

In [84]:
df['Date']=df["date"].dt.day

In [85]:
df

                         date  weekdayno weekdayname  monthno  year  Date
0  2022-06-02 21:20:35.352211          3    Thursday        6  2022     2
1  2022-06-01 21:20:35.352211          2   Wednesday        6  2022     1
2  2022-05-31 21:20:35.352211          1     Tuesday        5  2022    31
3  2022-05-30 21:20:35.352211          0      Monday        5  2022    30
4  2022-05-29 21:20:35.352211          6      Sunday        5  2022    29
5  2022-05-28 21:20:35.352211          5    Saturday        5  2022    28
6  2022-05-27 21:20:35.352211          4      Friday        5  2022    27
7  2022-05-26 21:20:35.352211          3    Thursday        5  2022    26
8  2022-05-25 21:20:35.352211          2   Wednesday        5  2022    25
9  2022-05-24 21:20:35.352211          1     Tuesday        5  2022    24
10 2022-05-23 21:20:35.352211          0      Monday        5  2022    23
11 2022-05-22 21:20:35.352211          6      Sunday        5  2022    22
12 2022-05-21 21:20:35.352211          5    Saturday        5  2022    21
13 2022-05-20 21:20:35.352211          4      Friday        5  2022    20
14 2022-05-19 21:20:35.352211          3    Thursday        5  2022    19

In [89]:
df['weekofyear'] = df['date'].dt.weekofyear

C:\Users\USER\AppData\Local\Temp/ipykernel_5896/4198712029.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear

In [90]:
df

,date,weekdayno,weekdayname,monthno,year,Date,weekofyear
0,2022-06-02 21:20:35.352211,3,Thursday,6,2022,2,22
1,2022-06-01 21:20:35.352211,2,Wednesday,6,2022,1,22
2,2022-05-31 21:20:35.352211,1,Tuesday,5,2022,31,22
3,2022-05-30 21:20:35.352211,0,Monday,5,2022,30,22
4,2022-05-29 21:20:35.352211,6,Sunday,5,2022,29,21
5,2022-05-28 21:20:35.352211,5,Saturday,5,2022,28,21
6,2022-05-27 21:20:35.352211,4,Friday,5,2022,27,21
7,2022-05-26 21:20:35.352211,3,Thursday,5,2022,26,21
8,2022-05-25 21:20:35.352211,2,Wednesday,5,2022,25,21
9,2022-05-24 21:20:35.352211,1,Tuesday,5,2022,24,21
10,2022-05-23 21:20:35.352211,0,Monday,5,2022,23,21
11,2022-05-22 21:20:35.352211,6,Sunday,5,2022,22,20
12,2022-05-21 21:20:35.352211,5,Saturday,5,2022,21,20
13,2022-05-20 21:20:35.352211,4,Friday,5,2022,20,20
14,2022-05-19 21:20:35.352211,3,Thursday,5,2022,19,20

In [92]:
type(df['date'])

pandas.core.series.Series

In [93]:
df['date']

0    2022-06-02 21:20:35.352211
1    2022-06-01 21:20:35.352211
2    2022-05-31 21:20:35.352211
3    2022-05-30 21:20:35.352211
4    2022-05-29 21:20:35.352211
5    2022-05-28 21:20:35.352211
6    2022-05-27 21:20:35.352211
7    2022-05-26 21:20:35.352211
8    2022-05-25 21:20:35.352211
9    2022-05-24 21:20:35.352211
10   2022-05-23 21:20:35.352211
11   2022-05-22 21:20:35.352211
12   2022-05-21 21:20:35.352211
13   2022-05-20 21:20:35.352211
14   2022-05-19 21:20:35.352211
Name: date, dtype: datetime64[ns]

In [95]:
df['date'].dt.hour

0     21
1     21
2     21
3     21
4     21
5     21
6     21
7     21
8     21
9     21
10    21
11    21
12    21
13    21
14    21
Name: date, dtype: int64

In [106]:
df1 = df.copy()

In [109]:
df1

,date,weekdayno,weekdayname,monthno,year,Date,weekofyear
0,2022-06-02 21:20:35.352211,3,Thursday,6,2022,2,22
1,2022-06-01 21:20:35.352211,2,Wednesday,6,2022,1,22
2,2022-05-31 21:20:35.352211,1,Tuesday,5,2022,31,22
3,2022-05-30 21:20:35.352211,0,Monday,5,2022,30,22
4,2022-05-29 21:20:35.352211,6,Sunday,5,2022,29,21
5,2022-05-28 21:20:35.352211,5,Saturday,5,2022,28,21
6,2022-05-27 21:20:35.352211,4,Friday,5,2022,27,21
7,2022-05-26 21:20:35.352211,3,Thursday,5,2022,26,21
8,2022-05-25 21:20:35.352211,2,Wednesday,5,2022,25,21
9,2022-05-24 21:20:35.352211,1,Tuesday,5,2022,24,21
10,2022-05-23 21:20:35.352211,0,Monday,5,2022,23,21
11,2022-05-22 21:20:35.352211,6,Sunday,5,2022,22,20
12,2022-05-21 21:20:35.352211,5,Saturday,5,2022,21,20
13,2022-05-20 21:20:35.352211,4,Friday,5,2022,20,20
14,2022-05-19 21:20:35.352211,3,Thursday,5,2022,19,20

In [110]:
df1.sort_values('date')

,date,weekdayno,weekdayname,monthno,year,Date,weekofyear
14,2022-05-19 21:20:35.352211,3,Thursday,5,2022,19,20
13,2022-05-20 21:20:35.352211,4,Friday,5,2022,20,20
12,2022-05-21 21:20:35.352211,5,Saturday,5,2022,21,20
11,2022-05-22 21:20:35.352211,6,Sunday,5,2022,22,20
10,2022-05-23 21:20:35.352211,0,Monday,5,2022,23,21
9,2022-05-24 21:20:35.352211,1,Tuesday,5,2022,24,21
8,2022-05-25 21:20:35.352211,2,Wednesday,5,2022,25,21
7,2022-05-26 21:20:35.352211,3,Thursday,5,2022,26,21
6,2022-05-27 21:20:35.352211,4,Friday,5,2022,27,21
5,2022-05-28 21:20:35.352211,5,Saturday,5,2022,28,21
4,2022-05-29 21:20:35.352211,6,Sunday,5,2022,29,21
3,2022-05-30 21:20:35.352211,0,Monday,5,2022,30,22
2,2022-05-31 21:20:35.352211,1,Tuesday,5,2022,31,22
1,2022-06-01 21:20:35.352211,2,Wednesday,6,2022,1,22
0,2022-06-02 21:20:35.352211,3,Thursday,6,2022,2,22

In [111]:
df1 = df1.sort_values('date')

In [112]:
df2 = df1.set_index('date')
df2

,weekdayno,weekdayname,monthno,year,Date,weekofyear
date,,,,,,
2022-05-19 21:20:35.352211,3,Thursday,5,2022,19,20
2022-05-20 21:20:35.352211,4,Friday,5,2022,20,20
2022-05-21 21:20:35.352211,5,Saturday,5,2022,21,20
2022-05-22 21:20:35.352211,6,Sunday,5,2022,22,20
2022-05-23 21:20:35.352211,0,Monday,5,2022,23,21
2022-05-24 21:20:35.352211,1,Tuesday,5,2022,24,21
2022-05-25 21:20:35.352211,2,Wednesday,5,2022,25,21
2022-05-26 21:20:35.352211,3,Thursday,5,2022,26,21
2022-05-27 21:20:35.352211,4,Friday,5,2022,27,21
2022-05-28 21:20:35.352211,5,Saturday,5,2022,28,21
2022-05-29 21:20:35.352211,6,Sunday,5,2022,29,21
2022-05-30 21:20:35.352211,0,Monday,5,2022,30,22
2022-05-31 21:20:35.352211,1,Tuesday,5,2022,31,22
2022-06-01 21:20:35.352211,2,Wednesday,6,2022,1,22
2022-06-02 21:20:35.352211,3,Thursday,6,2022,2,22

In [139]:
df2['weekdayno'].rolling('4d').sum()

date
2022-05-19 21:20:35.352211     3.0
2022-05-20 21:20:35.352211     7.0
2022-05-21 21:20:35.352211    12.0
2022-05-22 21:20:35.352211    18.0
2022-05-23 21:20:35.352211    15.0
2022-05-24 21:20:35.352211    12.0
2022-05-25 21:20:35.352211     9.0
2022-05-26 21:20:35.352211     6.0
2022-05-27 21:20:35.352211    10.0
2022-05-28 21:20:35.352211    14.0
2022-05-29 21:20:35.352211    18.0
2022-05-30 21:20:35.352211    15.0
2022-05-31 21:20:35.352211    12.0
2022-06-01 21:20:35.352211     9.0
2022-06-02 21:20:35.352211     6.0
Name: weekdayno, dtype: float64

In [140]:
df2['weekdayno'].rolling('4d').count()

date
2022-05-19 21:20:35.352211    1.0
2022-05-20 21:20:35.352211    2.0
2022-05-21 21:20:35.352211    3.0
2022-05-22 21:20:35.352211    4.0
2022-05-23 21:20:35.352211    4.0
2022-05-24 21:20:35.352211    4.0
2022-05-25 21:20:35.352211    4.0
2022-05-26 21:20:35.352211    4.0
2022-05-27 21:20:35.352211    4.0
2022-05-28 21:20:35.352211    4.0
2022-05-29 21:20:35.352211    4.0
2022-05-30 21:20:35.352211    4.0
2022-05-31 21:20:35.352211    4.0
2022-06-01 21:20:35.352211    4.0
2022-06-02 21:20:35.352211    4.0
Name: weekdayno, dtype: float64